version: "3.9"
services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "8080:8080"
    command: npm run dev
    volumes:
      - ./frontend:/usr/app
    depends_on:
      - backend
  backend:
    build:
      context: ./backend
    environment:
      - DJANGO_DEBUG=${DJANGO_DEBUG}
      - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
      - PG_NAME=${PG_NAME}
      - PG_USER=${PG_USER}
      - PG_PASSWORD=${PG_PASSWORD}
      - PG_HOST=${PG_HOST}
      - PG_PORT=${PG_PORT}
      - GOOGLE_EMAIL_USER=${GOOGLE_EMAIL_USER}
      - GOOGLE_EMAIL_PASSWORD=${GOOGLE_EMAIL_PASSWORD}
    ports:
      - "8000:8000"
      - "3000:3000"
    volumes:
      - .:/code
    depends_on:
      - db
    command: python ./backend/manage.py runserver 0.0.0.0:8000
  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"

volumes:
  postgres_data:
