.content {
  padding: 20px;
  margin: auto;
  min-height: calc(100vh - 140px);
}

.content-area-space {
  width: 100%;
}

.title-with-nav {
  margin-top: 10px;
}

.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
