.content{
    padding: 20px;
    margin: auto;
    min-height: 100vh;
}

.content-area-space{
    width: 100%;
}

.title-with-nav{
    margin-top:10px;
}

.title-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}