@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

body {
  font-family: "Outfit", sans-serif;
}

.beer-layout {
  min-height: 100vh;
}

.beer-max-width {
  max-width: 1280px;
}

.ant-form-item-control {
  max-width: 100%;
}

.srm-0 {
  background-color: unset;
}
.srm-1 {
  background-color: rgb(251, 226, 149);
}
.srm-2 {
  background-color: rgb(250, 212, 118);
}
.srm-3 {
  background-color: rgb(247, 196, 92);
}
.srm-4 {
  background-color: rgb(246, 185, 74);
}
.srm-5 {
  background-color: rgb(241, 170, 55);
}
.srm-6 {
  background-color: rgb(236, 160, 42);
}
.srm-7 {
  background-color: rgb(230, 149, 40);
}
.srm-8 {
  background-color: rgb(219, 136, 37);
}
.srm-9 {
  background-color: rgb(214, 126, 35);
}
.srm-10 {
  background-color: rgb(205, 118, 33);
}
.srm-11 {
  background-color: rgb(197, 108, 31);
}
.srm-12 {
  background-color: rgb(190, 100, 29);
}
.srm-13 {
  background-color: rgb(183, 93, 27);
}
.srm-14 {
  background-color: rgb(175, 85, 26);
}
.srm-15 {
  background-color: rgb(167, 77, 24);
}
.srm-16 {
  background-color: rgb(162, 73, 23);
}
.srm-17 {
  background-color: rgb(155, 67, 21);
}
.srm-18 {
  background-color: rgb(145, 61, 20);
}
.srm-19 {
  background-color: rgb(139, 55, 19);
}
.srm-20 {
  background-color: rgb(135, 52, 18);
}
.srm-21 {
  background-color: rgb(129, 48, 17);
}
.srm-22 {
  background-color: rgb(122, 45, 16);
}
.srm-23 {
  background-color: rgb(115, 39, 14);
}
.srm-24 {
  background-color: rgb(109, 36, 13);
}
.srm-25 {
  background-color: rgb(104, 33, 13);
}
.srm-26 {
  background-color: rgb(100, 32, 11);
}
.srm-27 {
  background-color: rgb(93, 28, 9);
}
.srm-28 {
  background-color: rgb(88, 24, 8);
}
.srm-29 {
  background-color: rgb(84, 23, 7);
}
.srm-30 {
  background-color: rgb(77, 22, 6);
}
.srm-31 {
  background-color: rgb(79, 21, 8);
}
.srm-32 {
  background-color: rgb(74, 20, 9);
}
.srm-33 {
  background-color: rgb(68, 19, 14);
}
.srm-34 {
  background-color: rgb(61, 16, 9);
}
.srm-35 {
  background-color: rgb(57, 16, 10);
}
.srm-36 {
  background-color: rgb(55, 16, 11);
}
.srm-37 {
  background-color: rgb(51, 15, 12);
}
.srm-38 {
  background-color: rgb(47, 14, 12);
}
.srm-39 {
  background-color: rgb(47, 15, 15);
}
.srm-40 {
  background-color: rgb(44, 15, 14);
}
