<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>What Ales You</title>
    <meta
      name="description"
      content="What Ales You helps you keep track of your brewing hobby, and gives you
        tools to improve your skills. The app is driven and supported by the
        homebrewing community, and as long as donations support its operational
        costs, there will never be any ads, paywalls, or premium tiers."
    />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
