# Your workflow name.
name: Deploy BE to Heroku

# Run workflow on every push to master branch.
on:
  push:
    branches: [main]
  workflow_dispatch:

# Your workflows jobs.
jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    steps:
      # Check-out your repository.
      - name: Checkout
        uses: actions/checkout@v2
      - name: Create .env file
        run: |
          touch .env
          echo ENVIRONMENT=testing >> .env
          echo DJANGO_DEBUG=False >> .env
          echo DJANGO_SECRET_KEY=${{ secrets.DJANGO_SECRET_KEY }} >> .env
          echo PG_NAME=${{ secrets.PG_NAME }} >> .env
          echo PG_USER=${{ secrets.PG_USER }} >> .env
          echo PG_PASSWORD=${{ secrets.PG_PASSWORD }} >> .env
          echo PG_HOST=${{ secrets.PG_HOST }} >> .env
          echo PG_PORT=${{ secrets.PG_PORT }} >> .env
          echo GOOGLE_EMAIL_USER=${{ secrets.GOOGLE_EMAIL_USER }} >> .env
          echo GOOGLE_EMAIL_PASSWORD=${{ secrets.GOOGLE_EMAIL_PASSWORD }} >> .env
          echo EMAIL_BACKEND=${{ secrets.EMAIL_BACKEND }} >> .env
          echo CYPRESS_host=localhost >> .env
          echo CYPRESS_port=8000 >> .env
          cat .env
      - name: Build Docker Image
        run: docker-compose build
      - name: Start containers for testing
        run: docker-compose up -d
      - name: Cypress run
        uses: cypress-io/github-action@v6
        env:
          CYPRESS_host: localhost
          CYPRESS_port: 8000
        with:
          start: docker-compose exec -T backend npm run cypress:run
          wait-on: "http://localhost:8000"
      - name: Build, Push and Release a Docker container to Heroku. # Your custom step name
        uses: gonuit/heroku-docker-deploy@v1.3.3 # GitHub action name (leave it as it is).
        with:
          email: ${{ secrets.HEROKU_EMAIL }}
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: ${{ secrets.HEROKU_APP_NAME }}
      - name: Migrate DB
        run: heroku run ./manage.py migrate -a what-ales-you
