# Your workflow name.
name: Deploy BE to Heroku

# Run workflow on every push to master branch.
on:
  push:
    branches: [main]
  workflow_dispatch:

# Your workflows jobs.
jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    steps:
      # Check-out your repository.
      - name: Checkout
        uses: actions/checkout@v2
      - name: Create .env file
        run: |
          touch .env
          echo ENVIRONMENT=testing >> .env
          echo DJANGO_DEBUG=False >> .env
          echo DJANGO_SECRET_KEY=${{ secrets.DJANGO_SECRET_KEY }} >> .env
          echo PG_NAME=${{ secrets.PG_NAME }} >> .env
          echo PG_USER=${{ secrets.PG_USER }} >> .env
          echo PG_PASSWORD=${{ secrets.PG_PASSWORD }} >> .env
          echo PG_HOST=${{ secrets.PG_HOST }} >> .env
          echo PG_PORT=${{ secrets.PG_PORT }} >> .env
          echo GOOGLE_EMAIL_USER=${{ secrets.GOOGLE_EMAIL_USER }} >> .env
          echo GOOGLE_EMAIL_PASSWORD=${{ secrets.GOOGLE_EMAIL_PASSWORD }} >> .env
          echo EMAIL_BACKEND=${{ secrets.EMAIL_BACKEND }} >> .env
          cat .env
      - name: Build Docker Image
        run: docker-compose build
      - name: Start containers for testing
        run: docker-compose up -d
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          start: docker-compose exec backend npm run cypress:run
      - name: Build, Push and Release a Docker container to Heroku. # Your custom step name
        uses: gonuit/heroku-docker-deploy@v1.3.3 # GitHub action name (leave it as it is).
        with:
          # Below you must provide variables for your Heroku app.

          # The email address associated with your Heroku account.
          # If you don't want to use repository secrets (which is recommended) you can do:
          # email: my.email@example.com
          email: ${{ secrets.HEROKU_EMAIL }}

          # Heroku API key associated with provided user's email.
          # Api Key is available under your Heroku account settings.
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}

          # Name of the heroku application to which the build is to be sent.
          heroku_app_name: ${{ secrets.HEROKU_APP_NAME }}

          # (Optional, default: "./")
          # Dockerfile directory.
          # For example, if you have a Dockerfile in the root of your project, leave it as follows:
          dockerfile_directory: ./

          # (Optional, default: "")
          # Additional options of docker build command.
          docker_options: ""

          # (Optional, default: "web")
          # Select the process type for which you want the docker container to be uploaded.
          # By default, this argument is set to "web".
          # For more information look at https://devcenter.heroku.com/articles/process-model
          process_type: web
      - name: Migrate DB
        run: heroku run ./manage.py migrate -a what-ales-you
