# Your workflow name.
name: Run Tests

# Run workflow on every push to master branch.
on:
  push:
    branches: [main]
  pull_request:

# Your workflows jobs.
jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    steps:
      # Check-out your repository.
      - name: Checkout
        uses: actions/checkout@v2
      - name: Create .env file
        run: |
          touch .env
          echo ENVIRONMENT=testing >> .env
          echo DJANGO_DEBUG=False >> .env
          echo DJANGO_SECRET_KEY=${{ secrets.DJANGO_SECRET_KEY }} >> .env
          echo PG_NAME=${{ secrets.PG_NAME }} >> .env
          echo PG_USER=${{ secrets.PG_USER }} >> .env
          echo PG_PASSWORD=${{ secrets.PG_PASSWORD }} >> .env
          echo PG_HOST=${{ secrets.PG_HOST }} >> .env
          echo PG_PORT=${{ secrets.PG_PORT }} >> .env
          echo GOOGLE_EMAIL_USER=${{ secrets.GOOGLE_EMAIL_USER }} >> .env
          echo GOOGLE_EMAIL_PASSWORD=${{ secrets.GOOGLE_EMAIL_PASSWORD }} >> .env
          echo EMAIL_BACKEND=${{ secrets.EMAIL_BACKEND }} >> .env
          cat .env
      - name: Build Docker Image
        run: docker-compose build
      - name: Start containers for testing
        run: docker-compose up -d
      - name: Run migrations for testing
        run: docker-compose exec -T backend python3 manage.py migrate
      - name: Install deps for static testing build
        run: npm ci
      - name: Cypress run
        uses: cypress-io/github-action@v6
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          install: false
          start: npm run dev
          command: npm run cypress:run
          wait-on: "http://localhost:8081"
          record: true
